* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}


.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: black;
    transition: all 1s ease;
}

a:hover {
    opacity: .4;
}

/* header start */

.header {
    padding: 10px 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__wrapper {
    display: flex;
    align-self: center;
}

.header__descr {
    display: flex;
    gap: 30px;
}

.header__img {
    margin-right: 60px;
}

.header__link {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.header__item {
    display: flex;
    gap: 32px;
}

.header__title {
    border: .2px solid;
    padding: 8px 20px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

}

.header__title__1 {
    background-color: #2563EB;
    padding: 8px 20px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

}

/* header end */

/* section start */

.section {
    background-image: url(../images/header/img.jpg);
}

.section__container {
    padding: 120px;
    color: white;
}

.section__item {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 20px;
}

.section__title {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

/* section end */

/* hero start */

.hero__container {
    margin-top: 40px;

}

.hero__item {
    max-width: 1326px;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
}

.hero__title {
    padding-left: 5px;
}

.hero__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 80px;
}

.hero__descr {
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #D1D5DB;
    padding: 24px 24px;
    border-radius: 24px;
}

.hero__1 {
    display: flex;
}

.hero__wrapper__1 {
    display: flex;
    flex-direction: column;
}

.hero__img {
    margin-right: 16px;
    margin-bottom: 24px;
}

.hero__text {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.hero__link {
    border: solid 2px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    gap: 10px;
}

.hero__link__4 {
    padding: 12px 24px;
    border: solid 1px;
    border-radius: 24px;
    margin-left: 606px;

}

.hero__disk {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.hero__text__1 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.hero__link_1 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
    text-decoration-style: solid;
}

.hero__2 {
    margin-top: 24px;
    display: flex;

    gap: 8px;
}

.hero__link__2 {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 12px 52px;
    border: solid 0.5px;
    border-radius: 24px;
}

.hero__link__3 {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 12px 52px;
    background: #2563EB;
    border-radius: 24px;
    display: flex;
    align-items: center;
    color: white;
}

/* hero end */

/* ihost start */

.ihost {
    padding: 120px 0;
}

.ihost__disk {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 40px;
}

.ihost__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.ihost__descr {
    display: flex;
    padding: 24px 24px 24px 24px;
    border: 1px solid #D1D5DB;
}

.ihost__img {
    width: 24px;
}

.ihost__desk {
    margin-right: auto;
}

.ihost__title {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 24px;
}

.ihost__text {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

/* ihost end */

/* list start */

.list {
    padding-bottom: 120px;
}

.list__text {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 40px;
}

.list__title {
    display: flex;
    padding: 24px 24px;
    border: 1px solid #D1D5DB;
    margin-bottom: 16px;
}

.list__item {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 24px;
    margin-right: auto;
}

/* list end */

/* font start */

.font {
    padding-bottom: 120px;

}

.font__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F3F4F6;
    border-radius: 24px;
}

.font__wrapper {
    padding-left: 80px;
}

.font__text {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 48px;
    color: #111827;
}

.font__item {
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #6B7280;
    padding-bottom: 40px;
}

.font__link {
    padding: 12px 24px;
    background: #2563EB;
    color: #FFFFFF;
    border-radius: 24px;
}

/* font end */

/* elon start */

.elon {
    padding-bottom: 120px;
}

.elon__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.elon__text {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 30px;
    line-height: 36px;
}

.elon__text__2 {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.elon__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.elon__img__2 {
    padding-top: 8px;
    padding-right: 8px;
}

.elon__1 {
    padding-left: 24px;
}

.elon__descr {
    border: 1px solid #D1D5DB;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.elon__disk {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 12px;
}

.elon__3 {
    display: flex;
    gap: 16px;
    align-items: center;
}

.elon__desk {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 12px;
    line-height: 16px;
}

.elon__text__3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 24px;
    padding-right: 65px;
}

.elon__item {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.elon__link {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 8px;
    border: 1px solid #D1D5DB
}

/* elon end */

/* white start */

.white {
    padding-bottom: 120xp;
}

.white__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F3F4F6;
    border-radius: 24px;
}

.white__title {
    padding-left: 80px;
}

.white__text {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 48px;
}

.white__item {
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #6B7280;
    padding-bottom: 40px;
}

.white__link {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 24px;
    background: #2563EB;
    border-radius: 24px;
}

/* white end */

/* footer start */

.footer {
    padding-top: 120px;
}

.footer__wrapper {
    display: flex;
    gap: 150px;
    padding-bottom: 40px;
    border-bottom: 1px solid #E5E7EB;
}

.footer__text {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 28px;
}

.footer__item {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #111827;
}

.footer__title {
    padding: 40px 0;
}

/* footer end */